.Editor {
    height: 300px;
    text-align: center;
    position: relative;
    background-color: #F6F6F6;
    padding-top: 40px;    
}

.Editor .image_wrapper{
    position: absolute;
    top: 4.5rem;
    left: calc(50% - 6.5rem );
    width: 13rem;
    height: 15.2rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 5px 5px -1px rgba(0, 0, 0, 0.25); 
}
.Editor .image_wrapper img{
    cursor: pointer;
    width: 10.5rem;
    height: 10.5rem;
    margin-top: 1.4rem;
    /* border: 1px solid rgb(0, 0, 0, 0.2); */
}

.Editor .editor_container{
    width: 100%;
    top: 18rem;
    position: absolute;
    background-color: white;
    padding-top: 3.25rem;
    padding-bottom: 3.25rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.Editor .difficulty_score{
    font-family: 'Pretendard';
    font-size: 1.3rem;
    font-weight: 500;
    color: #9F9F9F;
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
}
.Editor .difficulty_score img{
    width: 1.65rem;
}
.Editor .selection_list_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .7rem;
    margin-bottom: 1.7rem;
}
.Editor .btn_submit {
    font-family: 'Pretendard';
    width: 85%;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 1.25rem;
    font-size: 20px;
    font-weight: bold;
    background-color: #DB1D22;
    color: white;
    box-shadow: 5px 5px 7px -2px rgba(0, 0, 0, 0.25);  
}
.Editor h2{
    margin: .8rem;
    font-size: 1.3rem;
}

/*Modal*/
.search_modal_title{
    font-family: 'Pretendard';
    font-weight: bold;
    font-size: 22px;
    text-align: left;
    padding: 15px 0 10px 15px;
}

@media screen and (max-width: 400px) {
    .Editor .image_wrapper{
        position: absolute;
        top: 4rem;
        left: calc(50% - 6rem );
        width: 12rem;
        height: 13.5rem;
    }
    .Editor .image_wrapper img{
        cursor: pointer;
        width: 9.5rem;
        height: 9.5rem;
        margin-top: 1.2rem;
    }
    .Editor .editor_container{
        top: 16rem;
        padding-top: 2.8rem;
        padding-bottom: 2.8rem;
    }
    .Editor h2{
        font-size: 1.2rem;
    }
    .Editor .difficulty_score{
        font-size: 1.2rem;
    }
    .Editor .difficulty_score img{
        width: 1.5rem;
    }
    
}