.EvaluationItem {
    position: relative;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);  
}

.EvaluationItem .img_section img {
    cursor: pointer;
    width: 120px;
    height: 120px;
    border-radius: 15px;
}

.EvaluationItem .info_section {
    width: 100%;
    margin-left: 20px;
    cursor: pointer;
    font-family: 'Pretendard';
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.EvaluationItem .info_section .item_name {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}
.EvaluationItem .info_section .scoville_score {
    font-size: 15px;
    padding-bottom: 10px;
    font-weight: 500;
}
.EvaluationItem .info_section .difficulty_score{
    font-size: 15px;
    font-weight: 500;
    color: #9F9F9F;
    display: flex;
    padding-bottom: 10px;
    align-items: center;
}
.EvaluationItem .info_section .difficulty_score img{
    align-items: center;
    max-width: 1.3rem;
}
.EvaluationItem .info_section .score_text {
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
}

.EvaluationItem .button_section{
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    height: 20px;
    align-items: center;
}
.EvaluationItem .button_section button{
    cursor: pointer;
    width: 100%;
    padding: 0;
    margin-left: 10px;
    border: none;
    background-color: white;
}