.LoginEmail{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.LoginEmail .login_input{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 1.75rem;
    margin-bottom: .5rem;
}
.LoginEmail input{  
    font-family: 'Pretendard';
    width: 14.25rem;
    height: 1rem;
    font-size: .875rem;
    padding: .675rem;
    padding-right: 0;
    border: 0.5px solid #A8A8A8;
    outline: none;
}
.LoginEmail input:first-child{ 
    border-bottom: none;
}
.LoginEmail .btn_login{  
    width: 15.1rem;
    height: 2.25rem;
    cursor: pointer;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border: none;
    background-color: #DB1D22;
    color: white;
    font-weight: bold;
    font-size: 0.875rem;
    outline: none;
}
.LoginEmail .buttons{
    margin: 0;
    margin-bottom: .875rem;
    color: #9C9C9C;
}

.LoginEmail button{
    font-family: 'Pretendard';
    cursor: pointer;
    background-color: white;
    border: none;
    font-size: .875rem;
    font-weight: bold;
    color: #9C9C9C;
}
.LoginEmail .btn_close{
    font-family: 'Pretendard';
    font-weight: bold;
    font-size: .875rem;
    cursor: pointer;
    background-color: white;
    border: none;
    color: #C8C8C8;
}

@media screen and (max-width: 400px) {
    .LoginEmail .login_input{
        margin-top: 1rem;
    }
    .LoginEmail input{  
        width: 13.5rem;
        height: .75rem;
        padding: .65rem;
        padding-right: 0;
    }
    .LoginEmail .btn_login{  
        width: 14.25rem;
        height: 2.125rem;
    }    
    .LoginEmail button{
        font-weight: 600;
    }
    .LoginEmail .btn_close{
        font-size: .8rem;
    }
}