.LoginEmail{
    text-align: center;
}
.LoginEmail .login_input{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 10px;
}
.LoginEmail input{  
    font-family: 'Pretendard';
    width: 230px;
    height: 16px;
    font-size: 14px;
    padding: 10px 0 10px 10px;
    border: 0.5px solid #A8A8A8;
}
.LoginEmail .btn_login{  
    width: 242px;
    height: 36px;
    cursor: pointer;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    background-color: #DB1D22;
    color: white;
    font-weight: bold;
    font-size: 14px;
}
.LoginEmail .buttons{
    margin: 0;
    margin-bottom: 20px;
    color: #9C9C9C;
}

.LoginEmail button{
    font-family: 'Pretendard';
    cursor: pointer;
    background-color: white;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: #9C9C9C;
}
.LoginEmail .btn_close{
    cursor: pointer;
    width: 110px;
    height: 15px;
    margin: 0;
    padding: 0;
    border-radius: 0;
    background-color: white;
    border: none;
    font-family: 'Pretendard';
    font-size: 14px;
    font-weight: bold;
    color: #C8C8C8;
}
.LoginEmail h2{
    font-size: 20px;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 20px;
}