.SignUp{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
    justify-content: left;
}
.SignUp .signUpInput{
    margin-bottom: 100px;
}
.SignUp .sign_up_container{
    margin-bottom: 20px;
}
.SignUp .inputMessage{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.SignUp .wrapper{
    display: flex;
    width: 100%;
}
.SignUp input{
    width: 95%;
    height: 45px;
    background-color: #F5F5F5;
    border: none;
    border-radius: 10px;
    padding-left: 5%;
    margin-bottom: 10px;
    font-family: 'Pretendard';
    font-size: 16px;
}
.SignUp .wrapper{
    position: relative;
    align-items: center;
}
.SignUp input:focus{
    outline: none;
}
.SignUp .time_limit{
    position: absolute;
    right: 105px;    
    font-family: 'Pretendard';
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 10px;
}
.SignUp .btn_type1{
    cursor: pointer;
    position: absolute;
    right: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px; 
    margin-bottom: 10px;  
    background-color: #E8E8E8;
    font-family: 'Pretendard';
    font-weight: bold;
    font-size: 12px;
}
.SignUp .btn_type2{
    width: 100%;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 12px;
    margin-bottom: 20px;
    font-family: 'Pretendard';
    font-size: 26px;
    font-weight: bold;
    background-color: #DB1D22;
    color: white;
}
.SignUp h1 {
    font-family: 'Pretendard';
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
}
.SignUp .text_red {
    font-family: 'Pretendard';
    font-size: 12px;
    font-weight: 600;
    margin-left: 10px;
    color: #EB6161;
}
.SignUp .text_green {
    font-family: 'Pretendard';
    font-size: 12px;
    font-weight: 600;
    margin-left: 10px;
    color: #52AF5B;
}