.EvaluationList {
    background-color: #F6F6F6;
    height: 100%; 
}

.EvaluationList .menu_wrapper{
    padding: 25px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.EvaluationList .left_col{
    /* flex-grow: 1; */
    padding:0;
    text-align: left;
    width: 50%;
}
.EvaluationList .right_col{
    text-align: right;
    width: 50%;
}
.EvaluationList .right_col button{
    cursor: pointer;
    color: gray;
    font-size: 20px;
    padding: 0;
    width: 25px;
    border: 2px solid gray;
    border-radius: 5px;
}
.EvaluationList .list_wrapper{
    margin: 20px;
    margin-top: 0;
}
.EvaluationList h2{
    font-size: 24px;
    margin: 0;
}

.EvaluationList .searchbar{
    width: 100%;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid rgb(220, 220, 220);
    box-sizing: border-box;
    padding: 20px;
}

.EvaluationList .searchbar:focus{
    outline: none;
    border-bottom: 1px solid #1f93ff;
}