.EvaluationList {
    background-color: white;
    padding-top: 25px;
}


.EvaluationList .menu_wrapper{
    padding: 25px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.EvaluationList .left_col{
    /* flex-grow: 1; */
    padding:0;
    text-align: left;
    width: 50%;
}
.EvaluationList .right_col{
    text-align: right;
    width: 50%;
}
.EvaluationList .right_col button{
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: white;
}


.EvaluationList .search_bar_wrapper{
    margin: 20px;
    margin-top: 0;    
    text-align: center;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 10px;
}
.EvaluationList .icon_search{
    width: 16px;
    height: 16px;
    padding: 14px;
    padding-left: 20px;
    padding-right: 0;
}
.EvaluationList .search_bar{
    width: 100%;
    height: 30px;
    padding-left: 0;
    background-color: #F5F5F5;
    border: none;
    color: #000000;
}
.EvaluationList .search_bar:focus{
    outline: none;
}
.EvaluationList input{    
    font-family: 'Pretendard';
    font-weight: 300;
    font-size: 14px;
    color: #ABABAB;
}

.EvaluationList .list_wrapper{
    padding: 20px;
    padding-top: 0;
}
.EvaluationList h2{
    font-family: 'Pretendard';
    font-weight: bold;
    font-size: 26px;
    margin: 0;
}