.Graph {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.Graph button {
    width: 6.5%;
    height: 50px;
    margin: 2px;
    font-family: 'Pretendard-Regular';
    font-size: 12px;
    padding-bottom: 15px;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
}

.Graph button:hover {
    transform: scale(1.1,1.1);
    box-shadow: 0px 5px 2px -3px rgba(0, 0, 0, 0.25);
}

.Graph button:focus {
    height: 65px;
    padding-top: 15px;
    color: white;
    outline: none;
}

.Graph .color-1 {
    /* background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673); */
    /* box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75); */
    background-color: #FFEB3A;
    color: #FFEB3A; 
}
.Graph .color-2 {
    background-color: #FEDF39;
    color: #FEDF39; 
}
.Graph .color-3 {
    background-color: #FDD337;
    color: #FDD337; 
}
.Graph .color-4 {
    background-color: #FCBB35;
    color: #FCBB35; 
}
.Graph .color-5 {
    background-color: #FBAF34;  
    color: #FBAF34;   
}
.Graph .color-6 {
    background-color: #F99731;   
    color: #F99731;  
}
.Graph .color-7 {
    background-color: #F88B30;  
    color: #F88B30;   
}
.Graph .color-8 {
    background-color: #F77F2E;
    color: #F77F2E; 
}
.Graph .color-9 {
    background-color: #F6732D;  
    color: #F6732D;   
}
.Graph .color-10 {
    background-color: #F45B2B;  
    color: #F45B2B;   
}
.Graph .color-11 {
    background-color: #F34F29; 
    color: #F34F29;    
}
.Graph .color-12 {
    background-color: #F24328;  
    color: #F24328;   
}
/* .btn-hover.color-13 {
    background-color: #F45B2B; 
    color: #F45B2B;    
}
.btn-hover.color-14 {
    background-color: #F34F29;  
    color: #F34F29;   
}
.btn-hover.color-15 {
    background-color: #F24328;   
    color: #F24328;  
} */