.Header {
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.Header > div {
    display: flex;
}

.Header .header_title {
    font-family: 'Pretendard';
    font-weight: bold;
    font-size: 18px;
    width: 40%;
    height: 100%;
    justify-content: center;
}
.Header .header_left {
    /* padding-top: 5px; */
    width: 30%;
    height: 100%;
    justify-content: start;
    margin-left: 20px;
}
.Header .header_right {
    /* padding-top: 10px; */
    width: 30%;
    height: 100%;
    justify-content: end;
    margin-right: 10px;
}
.Header button {
    cursor: pointer;
    font-family: 'Pretendard';
    font-weight: bold;
    font-size: 16px;
    border: none;
    background-color: white;
    margin: 0;
    margin-right: 10px;
}
.Header .header_title button{
    font-family: 'KCCMurukmuruk';
    font-weight: lighter;
    font-size: 14px;
    padding-bottom: 7px;
}