.Header {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

.Header > div {
    display: flex;
}

.Header .header_title {
    width: 40%;
    font-size: 16px;
    justify-content: center;
}
.Header .header_left {
    width: 30%;
    justify-content: start;
    margin-left: 20px;
}
.Header .header_right {
    width: 30%;
    justify-content: end;
    margin-right: 10px;
}
.Header button {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border: none;
    background-color: white;
    margin-right: 10px;
}
.Header .header_title button {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border: none;
    background-color: white;
    color: lightgray;
    margin-right: 10px;
}