.Navigator {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    white-space: nowrap;
    color: white;
    border-bottom: 1px solid #e2e2e2;
}

.Navigator_default  button{
    cursor: pointer;
    border: none;
    /* border-radius: 5px; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    /* margin-bottom: 20px; */
    font-size: 18px;
    white-space: nowrap;
    background-color: rgb(255, 255, 255);
    color: black;
}

.Navigator_current  button{
    cursor: pointer;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    background-color: rgb(255, 255, 255);
    color: black;
}