.OptionItem {
    cursor: pointer;
    border-radius: 5px;
    padding: 20px;
    margin-bottom:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.OptionItem span {
    font-size: 15px;
}

.OptionItem_off {
    background-color: #ececec;
}

.OptionItem_on{
    background-color: rgb(200, 220, 255);
    color: black;
}