.OptionItem {
    cursor: pointer;
    border-radius: 10px;
    padding: 15px;
    margin-bottom:15px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.OptionItem span {
    font-size: 14px;
    font-weight: bold;
}

.OptionItem_off_for_test {
    /* border: 1px solid red; */
    /* E73232 */
    background-color:rgb(231, 50, 50, 0.5);
    color: black;
    padding: 10px;
    margin-bottom: 10px;
}
.OptionItem_off {
    background-color: #F5F5F5;
    color: black;
    padding: 10px;
    margin-bottom: 10px;
}

.OptionItem_on{
    background-color: #E73232;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}