.ProfileItem {
    cursor: pointer;
    border-radius: 5px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.ProfileItem img{
    width: 100%;
}

.ProfileItem_off {
    box-shadow: none;
}

.ProfileItem_on_0 {
    box-shadow: 0px 0px 0px 3px rgb(0, 140, 255) inset;
}
.ProfileItem_on_1 {
    box-shadow: 0px 0px 0px 3px rgb(0, 140, 255) inset;
}
.ProfileItem_on_2 {
    box-shadow: 0px 0px 0px 3px rgb(0, 140, 255) inset;
}