.ResultViewer {
    text-align: center;
}
.ResultViewer .result_wrapper{    
    background-color: #EE5054;
    margin: 30px;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 5px 5px 7px 2px rgba(0, 0, 0, 0.25);
}
.ResultViewer .graph_wrapper{    
    background-color: #FAFAFA;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 7px -2px rgba(0, 0, 0, 0.25);
}
.ResultViewer h1 {
    /* out line */
    text-shadow: 
    2px 2px 0 black, 
    -2px -2px 0 black, 
    2px -2px 0 black, 
    -2px 2px 0 black; 
    color: #FFB4B4;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.ResultViewer h2 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.ResultViewer h3 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.ResultViewer h4 {
    color: #FFB4B4;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.ResultViewer .content_wrapper{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.ResultViewer .button_wrapper{
    margin-left: 20px;
    margin-right: -10px;
    justify-content: center;
    display: flex;
}
.ResultViewer .btn_type1{
    width: 100%;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 15px;;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #A73030;
    color: white;    
    box-shadow: 5px 5px 7px -2px rgba(0, 0, 0, 0.25);
}
.ResultViewer .btn_type2{
    width: 85%;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 15px;;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    box-shadow: 5px 5px 7px -2px rgba(0, 0, 0, 0.25);    
}

.ResultViewer textarea{
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}