.Search{
    margin: 30px;
}
.Search .contents_top{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.Search .search_bar_wrapper{
    width: 100%;    
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 10px;
}
.Search .img_back{
    cursor: pointer;
    margin-right: 15px;
}
.Search .contents_top .left{
    width: 50%;
}
.Search .contents_top .right{
    width: 50%;
    text-align: end;
}
.Search .btn_delete{
    cursor: pointer;
    height: 20px;
    background-color: #EFEFEF;
    color: #868686;
    border: none;
    border-radius: 15px;
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.Search h1{
    font-family: 'Pretendard';
    font-weight: bold;
    font-size: 24px;
    padding-left: 10px;
}
.Search .list_wrapper{
    margin-top: 30px;
}