.SetProfile{

}

.profile_list_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:2%;
    padding-bottom: 30px;
}
.ReactModal__Overlay,
.React__Overlay--after-open{
    margin: auto;
    width: 700px;
    height:400px;
}
.ReactModal__Content,
 .ReactModal__Content--after-open button{
    text-align: center;
}