.SetProfile{
    text-align: center;
}
.SetProfile .profile_input{
    margin-left: 5%;
    margin-right: 5%;
    /* margin-top: 10%; */
}
.SetProfile .profile_container{
    /* margin-bottom: 30px; */
    position: relative;
    display: inline-block;
    padding: 74px;
}
.SetProfile .img_profile{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 5px solid black;
}
.SetProfile .btn_overlay{
    position: absolute;
    top: 165px;
    left: 150px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    padding: 6px;
    background-color: white;
    border-radius: 100%;
    border: 3px solid black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

.SetProfile .text_container{
    text-align: left;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%; 
}
.SetProfile .inputMessage{
    font-family: 'Pretendard';
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.SetProfile .wrapper{
    display: flex;
    width: 100%;
}
.SetProfile .wrapper input{
    width: 75%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.SetProfile .btn_duplicate{
    cursor: pointer;
    width: 25%;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    font-family: 'Pretendard';
    font-weight: 600;
    font-size: 14px;
}
.SetProfile input{
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 14px;
    width: 95%;
    height: 40px;
    font-size: 16px;
    background-color: #F5F5F5;
    border: none;
    border-radius: 15px;
    padding-left: 5%;
}

.SetProfile h5 {
    font-family: 'Pretendard';
    font-size: 14px;
    font-weight: 600;
    margin: 3px;
    color: #EB6161;
}
.SetProfile h6 {
    font-family: 'Pretendard';
    font-size: 14px;
    font-weight: 600;
    margin: 3px;
    color: #52AF5B;
}

/* Modal */
.modal_title{
    text-align: center;
    font-family: "Pretendard";
    font-weight: bold;
    font-size: 26px;
    padding-top: 10px;
}
.profile_list_wrapper{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
}
.profile_images {
    display: flex;
    flex-wrap: wrap;
    gap:1%;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
}
.profile_images p{
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    padding-left: 15px;
    font-family: 'Pretendard';
    font-weight: 600;
    font-size: 20px;
}
.btn_profile_submit{
    cursor: pointer;
    width: 90%;
    height: 50px;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    background-color: #000000;
    color: white;
}
.btn_profile_close{
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 30px;
    border: none;
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
}
