.LoginMain{
    text-align: center;
    margin-top: 40px;
}
.LoginMain .buttons{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
}

.LoginMain button{
    cursor: pointer;
    width:70px;
    height:70px;
    margin-right: 15px;
    border-radius: 100%;
}
.LoginMain .btn_close{
    cursor: pointer;
    width: 120px;
    height: 30px;
    border-radius: 0;
    background-color: white;
    border: none;
    color: rgb(0, 0, 0, 0.5);
    font-size: 15px;
    font-weight: bold;
}
.LoginMain h2{
    margin: 0;
}